p.ticket-recieved {
  font-weight: bold;
  text-align: center;
}

table#ticket-info tr td {
  border: 1px solid #ccc;
}

table#ticket-info tr td.label {
  background: #e0e0d8;
  font-weight: bold;
  width: 15%;
}

#sp-kb-content {
  margin: 0px 340px 0px 0px;
}

#sp-kb-content pre {
  background: #eee;
  font-size: 12px;
  margin: 10px 0px;
  padding: 10px;
}
#sp-kb-content pre code {
  font-size: 12px;
}

#sp-menu-right {
  border: 1px solid #ccc;
  float: right;
  padding: 9px;
  width: 300px;
}

#sp-menu-right ul {
  margin: 0;
  padding: 0;
}

#sp-menu-right ul li {
  list-style-position: inside;
  margin: 2px 0px 4px 0px;
  padding: 0;
}

#sp-menu-right ul li a.active {
  font-weight: bold;
}

#sp-menu-right ul li ul {
  margin-left: 20px;
}
